<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}">
    <link rel="stylesheet" href="styles.css">
    <script src="script.js"></script>
    <link rel="shortcut icon" type="image/png" href="image/favicon.ico">
    <button id="night-mode-button">Night</button>
    <script src="{{ site.baseurl }}/js/night-mode.js"></script>

  </head>
  <body{% if site.mode == "night" %} class="night-mode"{% endif %}>
    {{ content }}
  </body>
</html>
